body {

}

.left {

}

.right {

}

.top {

}

.bottom {

}

.header {
  color: rgb(52, 108, 199);
  display: flex;
}

.main {
  display: flex;

}
.info-box {
  flex: auto;
  padding: 8px;
}

.quote {
 background-color: grey;

}

footer {
 background-color: rgb(41, 51, 90);
 color: white;
}