body {
  font-size: 12px;
  height: 100%;
  width: 100;
  display: flex;
  margin: 0;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;
}

p {
  margin: 5px;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  gap: 100px;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: center;
}
/* HEADER PORTION OF PAGE ============================= */
header {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
  background-color: rgb(43, 63, 110);
}
.top-container {
  display: flex;
  height: 20%;
  width: 100%;
  text-align: center;
  align-items: center;
  color: white;
}
.logo {
  font-weight: bold;
  margin: auto;
  display: flex;
}
.header-links {
  margin: auto;
  font-size: 8px;
  display: flex;
}
.bottom-container {
  color: white;
  background-color: grey;
  display: flex;
  text-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  gap: 50px;
}
.header-left p {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.image {
  display: flex;
  width: 350px;
  height: 105px;
  background-color: grey;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.but {
  border-radius: 5px;
  margin: auto;
  width: 70px;
  font-size: 12px;
  height: 30px;
  background-color: rgb(74, 117, 235);
  color: white;
  margin-top: 5px;
}


/* MAIN PORTION OF PAGE ========================== */
.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.topic {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}
.info-box {
  display: flex;
  width: 100%;
  gap: 20px;
  text-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.box {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid blue;
  height: 100px;
  width: 100px;
}
.box-description {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.description-text {
  padding: 0px;
  height: 100px;
  width: 125px;
}
.quote p {
  padding: 50px 150px 50px 150px;
  background-color: rgb(233, 233, 233);
  font-size: 20px;
  font-style: italic;
  margin: auto;
}

/* FOOTER SECTION ============================ */
footer {
  padding: 100px;
  display: flex;
}
.footer-box {
  padding: 20px;
  display: flex;
  gap: 30%;
  background-color: rgb(74, 117, 235);
  width: 100%;
  height: 20%;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: white;
}
.left p {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.copyright {
  display: flex;
  width: 100%;
  background-color: rgb(43, 63, 110);
  color: white;
  height: 50px;
  align-items: center;
  justify-content: center;
}


 /* ID CLASSES ======================== */
#description {
  font-size: 10px;
  margin: 0px;
  padding: 4px;
}
#white-border {
  border-color: white;
}
#large-font {
  font-size: 30px;
  padding: 0px;
  margin: 0;
}


 /* RESPONSIVE SECTION =================== */

 @media (max-width: 800px) {
  .but {
    margin-bottom: 10px;
  }
}

@media (max-width: 550px) {
  .container {
  width: 99%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2px;
  }
  .top-container {
    font-size: 2em;
  }
  .header-links {
   font-size: .5em;
  }
  #large-font {
    font-size: 2em;
  }
  .footer-box {
    flex-direction: column;
    padding: 10px;
  }
  footer {
    padding: 35px;
  }
  #white-border {
    margin-top: 10px;
  }
  .quote p {
    padding: 20px 20px 20px 20px;
  }
  .header-left {
    flex-direction: column;
    display: flex;
    gap: 10px;
  }
  .quote {
    width: 70%;
    background-color: rgb(233, 233, 233);
    font-size: 20px;
    font-style: italic;
    margin: auto;

  }

  .but {
    margin-bottom: 10px;
  }


}