body {
  font-size: 12px;
}

p {
  margin: 5px;
}
.header {
  display: flex;
  flex-direction: column;
  background-color: rgb(47, 47, 83);
  padding:  0px 70px 50px 70px;
}

.top-container {
  display: flex;
  height: 20%;
  width: 100%;
  gap: 50%;
  color: white;
}

.logo {
  font-weight: bold;
  display: flex;

}

.header-links {
  font-size: 8px;
  display: flex;
  flex-grow: 0;
  gap: 20px;
}

.left {
  display: flex;
  flex-direction: column;
}

.image {
  display: flex;
  width: 350px;
  height: 105px;
  background-color: grey;
  align-items: center;
  justify-content: center;
}

.top {
  display: flex;
  height: 100px;
}

.bottom-container {
  color: white;
  display: flex;
  gap: 30%;
  height: 100%;
  padding-top: 50px;
}

.but {
  border-radius: 5px;
  width: 70px;
  font-size: 12px;
  height: 30px;
  background-color: rgb(74, 117, 235);
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
}

.topic {
  padding: 20px;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}

.info-box {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.box-description {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.description-text {
  padding: 0px;
  height: 100px;
  width: 125px;
}

.box {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid blue;
  height: 100px;
  width: 100px;
}

#description {
  font-size: 10px;
  margin: 0px;
  padding: 4px;

}

.quote p {
  padding: 50px 150px 50px 150px;
  background-color: rgb(233, 233, 233);
  font-size: 20px;
  font-style: italic;
}

footer {
  background-color: rgb(41, 51, 90);
  color: white;
}

#large-font {
  font-size: 30px;
  padding: 0px;
  margin: 0;
}